.identityTable {
	border-collapse: collapse;
	border: 1px solid #000000;
}

.identityTableHeader {
	text-align: center;
	background: none repeat scroll 0 0 #B5B5B5;
	border-bottom: 1px solid #000000;
	padding: 2px;
}

.identityTableOddRow {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
}

.identityTableEvenRow {
	text-align: center;
	background: none repeat scroll 0 0 #D3D3D3;
}

.ui-datalist ul {
	padding: 0px 10px 0 20px;
	margin: 5px 0;
}

.ui-datalist {
	margin-bottom: 10px
}

.ui-noborder tr.ui-widget-content {
	background: none;
}